<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-image"
        src="https://image.tmdb.org/t/p/original/h8gHn0OzBoaefsYseUByqsmEDMY.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">John Wick: Chapter 4</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="app-icon">star</span><span class="rating-value">7.5</span
            ><span>/10</span>
          </span>
          <span>463 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-6">
        With the price on his head ever increasing, John Wick uncovers a path to
        defeating The High Table. But before he can earn his freedom, Wick must
        face off against a new enemy with powerful alliances across the globe
        and forces that turn old friends into foes.
      </div>
    </div>
  </div>
</div>
